#obrazek{
    border: 10px solid white; width: 700px; margin-left: 750px;
}

h1{
    color: white; margin-left: 950px
}

h2{
    color: white; margin-top: 50px;
}

#keep{
    margin-left: 950px;
}

#yourself{
    margin-left: 950px;
}

#safe{
    margin-left: 950px;
}